{{- if .Values.certManager.enabled }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: selfsigned-issuer
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "llmisvc.labels" . | nindent 4 }}
spec:
  selfSigned: {}
{{- end }}
