apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    inference.networking.k8s.io/bundle-version: v1.2.0
  name: inferenceobjectives.inference.networking.x-k8s.io
spec:
  group: inference.networking.x-k8s.io
  names:
    kind: InferenceObjective
    listKind: InferenceObjectiveList
    plural: inferenceobjectives
    singular: inferenceobjective
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.poolRef.name
      name: Inference Pool
      type: string
    - jsonPath: .spec.priority
      name: Priority
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: InferenceObjective is the Schema for the InferenceObjectives API.
        properties:
          apiVersion:
            description: "APIVersion defines the versioned schema of this representation of an object.\nServers should convert recognized schemas to the latest internal value, and\nmay reject unrecognized values.\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
            type: string
          kind:
            description: "Kind is a string value representing the REST resource this object represents.\nServers may infer this from the endpoint the client submits requests to.\nCannot be updated.\nIn CamelCase.\nMore info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
            type: string
          metadata:
            type: object
          spec:
            description: "InferenceObjectiveSpec represents the desired state of a specific model use case. This resource is\nmanaged by the \"Inference Workload Owner\" persona.\n\nThe Inference Workload Owner persona is someone that trains, verifies, and\nleverages a large language model from a model frontend, drives the lifecycle\nand rollout of new versions of those models, and defines the specific\nperformance and latency goals for the model. These workloads are\nexpected to operate within an InferencePool sharing compute capacity with other\nInferenceObjectives, defined by the Inference Platform Admin."
            properties:
              poolRef:
                description: PoolRef is a reference to the inference pool, the pool must exist in the same namespace.
                properties:
                  group:
                    default: inference.networking.k8s.io
                    description: Group is the group of the referent.
                    maxLength: 253
                    pattern: ^$|^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                    type: string
                  kind:
                    default: InferencePool
                    description: Kind is kind of the referent. For example "InferencePool".
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-zA-Z]([-a-zA-Z0-9]*[a-zA-Z0-9])?$
                    type: string
                  name:
                    description: Name is the name of the referent.
                    maxLength: 253
                    minLength: 1
                    type: string
                required:
                - name
                type: object
              priority:
                description: "Priority defines how important it is to serve the request compared to other requests in the same pool.\nPriority is an integer value that defines the priority of the request.\nThe higher the value, the more critical the request is; negative values _are_ allowed.\nNo default value is set for this field, allowing for future additions of new fields that may 'one of' with this field.\nHowever, implementations that consume this field (such as the Endpoint Picker) will treat an unset value as '0'.\nPriority is used in flow control, primarily in the event of resource scarcity(requests need to be queued).\nAll requests will be queued, and flow control will _always_ allow requests of higher priority to be served first.\nFairness is only enforced and tracked between requests of the same priority.\n\nExample: requests with Priority 10 will always be served before\nrequests with Priority of 0 (the value used if Priority is unset or no InfereneceObjective is specified).\nSimilarly requests with a Priority of -10 will always be served after requests with Priority of 0."
                type: integer
            required:
            - poolRef
            type: object
          status:
            description: InferenceObjectiveStatus defines the observed state of InferenceObjective
            properties:
              conditions:
                default:
                - lastTransitionTime: '1970-01-01T00:00:00Z'
                  message: Waiting for controller
                  reason: Pending
                  status: Unknown
                  type: Ready
                description: "Conditions track the state of the InferenceObjective.\n\nKnown condition types are:\n\n* \"Accepted\""
                items:
                  description: Condition contains details for one aspect of the current state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: "lastTransitionTime is the last time the condition transitioned from one status to another.\nThis should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable."
                      format: date-time
                      type: string
                    message:
                      description: "message is a human readable message indicating details about the transition.\nThis may be an empty string."
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: "observedGeneration represents the .metadata.generation that the condition was set based upon.\nFor instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date\nwith respect to the current state of the instance."
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: "reason contains a programmatic identifier indicating the reason for the condition's last transition.\nProducers of specific condition types may define expected values and meanings for this field,\nand whether the values are considered a guaranteed API.\nThe value should be a CamelCase string.\nThis field may not be empty."
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                maxItems: 8
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ''
    plural: ''
  conditions: null
  storedVersions: null
