apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: controller
    control-plane: kserve-llmisvc-controller-manager
    controller-tools.k8s.io: "1.0"
  name: kserve-llmisvc-webhook-server-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: metrics
  selector:
    control-plane: kserve-llmisvc-controller-manager
    controller-tools.k8s.io: "1.0"
